<form (ngSubmit)="register()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="regUsername" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="regPassword" name="password" required>
    
    <button type="submit">Register</button>
  </form>

  <form (ngSubmit)="login()">
    <label for="username">Username:</label>
    <input type="text" id="username" [(ngModel)]="loginUsername" name="username" required>
    
    <label for="password">Password:</label>
    <input type="password" id="password" [(ngModel)]="loginPassword" name="password" required>
    
    <button type="submit">Login</button>
  </form>
  